* {
    padding: 0;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: #333;
}

html {
    font-size: 60.25%;
    overflow-x: hidden;
}

ody b html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

body section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn:hover {
    background: blue;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: greenyellow;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid rgb(236, 208, 236);
}

.name {
    font-size: 3.5rem;
    color: white;
}

.post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
    background: rgb(218, 214, 214);
}

header .user {
    width: 100%;
    background: rgb(218, 214, 214);
    text-align: center;
}

header .user .post {
    width: 100%;
    background: rgb(218, 214, 214);
    text-align: center;
    color: orangered;
}

header .user .name {
    width: 100%;
    background: rgb(218, 214, 214);
    text-align: center;
    color: orangered;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}